<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShopAll</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add_Staff_Member</display-name>
    <servlet-name>Add_Staff_Member</servlet-name>
    <servlet-class>shop.Add_Staff_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Staff_Member</servlet-name>
    <url-pattern>/Add_Staff_Member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Promotion_Servlet</display-name>
    <servlet-name>Add_Promotion_Servlet</servlet-name>
    <servlet-class>shop.Add_Promotion_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Promotion_Servlet</servlet-name>
    <url-pattern>/Add_Promotion_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Product_Servlet</display-name>
    <servlet-name>Add_Product_Servlet</servlet-name>
    <servlet-class>shop.Add_Product_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Product_Servlet</servlet-name>
    <url-pattern>/Add_Product_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Product_Servlet</display-name>
    <servlet-name>Update_Product_Servlet</servlet-name>
    <servlet-class>shop.Update_Product_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Product_Servlet</servlet-name>
    <url-pattern>/Update_Product_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Promotion_Servlet</display-name>
    <servlet-name>Update_Promotion_Servlet</servlet-name>
    <servlet-class>shop.Update_Promotion_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Promotion_Servlet</servlet-name>
    <url-pattern>/Update_Promotion_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Staff_Servlet</display-name>
    <servlet-name>Update_Staff_Servlet</servlet-name>
    <servlet-class>shop.Update_Staff_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Staff_Servlet</servlet-name>
    <url-pattern>/Update_Staff_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Staff_Servlet</display-name>
    <servlet-name>View_Staff_Servlet</servlet-name>
    <servlet-class>shop.View_Staff_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Staff_Servlet</servlet-name>
    <url-pattern>/View_Staff_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Staff_DAO</display-name>
    <servlet-name>View_Staff_DAO</servlet-name>
    <servlet-class>shop.View_Staff_DAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Staff_DAO</servlet-name>
    <url-pattern>/View_Staff_DAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>shop.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Promotion_Servlet</display-name>
    <servlet-name>View_Promotion_Servlet</servlet-name>
    <servlet-class>shop.View_Promotion_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Promotion_Servlet</servlet-name>
    <url-pattern>/View_Promotion_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Product_Servlet</display-name>
    <servlet-name>View_Product_Servlet</servlet-name>
    <servlet-class>shop.View_Product_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Product_Servlet</servlet-name>
    <url-pattern>/View_Product_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Servlet</display-name>
    <servlet-name>Delete_Servlet</servlet-name>
    <servlet-class>shop.Delete_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Servlet</servlet-name>
    <url-pattern>/Delete_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Product_Servlet</display-name>
    <servlet-name>Delete_Product_Servlet</servlet-name>
    <servlet-class>shop.Delete_Product_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Product_Servlet</servlet-name>
    <url-pattern>/Delete_Product_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Product_servlet</display-name>
    <servlet-name>Delete_Product_servlet</servlet-name>
    <servlet-class>shop.Delete_Product_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Product_servlet</servlet-name>
    <url-pattern>/Delete_Product_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Product</display-name>
    <servlet-name>Delete_Product</servlet-name>
    <servlet-class>shop.Delete_Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Product</servlet-name>
    <url-pattern>/Delete_Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Promotion_Scheme</display-name>
    <servlet-name>Delete_Promotion_Scheme</servlet-name>
    <servlet-class>shop.Delete_Promotion_Scheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Promotion_Scheme</servlet-name>
    <url-pattern>/Delete_Promotion_Scheme</url-pattern>
  </servlet-mapping>
</web-app>